<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <style>
       
    </style>
    <title>Users</title>
</head>
<body>
    <body>
        <header>
            <h1>Hi welcome to our Users page!</h1>
            <p>This is actually our only page :/</p>
            <a href="/">back to Home</a>
        </header>
        <ul>
            <p>Users</p>
            <li>user 1</li>
            <li>user 2</li>
        </ul>
    </body>
</body>
</html>