<%- include('includes/head.ejs') %>

    <form action="/add-user" method="POST" >
        <input type="Text" name="username" >
        <button type="submit">Add user</button>
    </form>

<%- include('includes/end.ejs') %>